* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 50vh;
    width: 100vw;
    margin-bottom: 2vh;
    border: 2px solid black;
    color: black;
    background-color: aqua;
    font-size: 2.5em;
}

footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

@media (max-width: 960px) and (min-width: 769px) {
    .card {
        width: 100%;
        background-color: rgb(114, 7, 255);
        font-size: 2em;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .card {
        width: 100%;
        background-color: rgb(7, 185, 255);
        font-size: 1.5em;
    }
}

@media (max-width: 480px){
    .card {
        width: 100%;
        background-color: rgb(3, 255, 171);
        font-size: 1em;
    }
}